/* css styles */
body{
 max-width: 15cm;
  text-align: left;
background-color: #fefefe;
font-family: "geist";
margin-left: auto;
margin-right: auto;
margin-bottom: 10rem;

}

a{
  color:black;
  font-weight: 300;
  text-decoration: underline;
}

a:hover{
  color:grey;
  text-decoration: underline;
  font-weight: 300;
}

.nav a:active{
  text-decoration: underline;
}

h1{
  margin-bottom: 1rem;
  margin-top: 3cm;
  margin-left: -1cm;
  font-size: 3rem;
  font-weight: 500;
}

h2{font-weight: 500;
font-size: 1.5rem;
margin-top: 2.5rem;
margin-bottom: 0.5rem;
letter-spacing: -0.05em;
font-family: geist;
}



.blog p { max-width: 15cm;
    font-family: georgia;
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin: 0rem;
    margin-bottom:1rem;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
}

.homepage p{
font-family: "geist";
margin-left: auto;
margin-right: auto;
font-size: 1rem;
font-weight: 300;
max-width: 15cm;
line-height: 1.25rem;
}

hr {
  max-width: 14cm;
  margin-top: 0.5cm;
}


.column {
  float: left;
  width:50%;
  
}

.wide {width: calc(100% + 10em);
margin-left: -5em;
}

.nav a{
  font-size: 2.5rem;
  font-weight: 500;
  text-decoration: none;
  margin:0cm;
  padding:0cm;
  border:0cm;
  margin-left: -4cm;
  font-family: "Geist" !important;
}

.nav a:hover{
  font-weight: 500;
  text-decoration: none;
}

.nav{
  margin-top: 2rem;
}


@media (max-width: 800px) {
  body {
    padding-left: 0.5cm;
    padding-right: 0.5cm;/* Adjust padding for smaller screens */
  }

  .wide {
    width: calc(100% + 1em); /* Adjust to avoid breaking layout */
    margin-left: -0.5em;
  }
    h1{
    margin-left: 0cm;
    margin-top: 2cm;
  }
  
}

@media (max-width: 1000px) {
  .nav a{
      margin-left: 0cm;
  }
  

}


.img{
  display: block;
  border:1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top:2rem;
  margin-bottom:2rem;
}

table td:nth-child(1) { 
  text-align: end; 
  width:3cm;
  color:grey;
}

table{
  margin:0rem;
  padding: 0rem;
  border:0rem;
  font-weight: 300;
  line-height: 1.75rem;
}

td{
    vertical-align: top;
  
}

.blog{
  font-family: georgia;
  font-size:1.25em;
  line-height: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1cm;
}

.title .red{
  color: #D0021B; 
  font-weight:200;
  font-size: 2rem;
}

.title p{
      font-family:"Geist";
  font-size: 2rem;
  font-weight: 500;
margin-top: 2.5rem;
margin-bottom: 0.5rem;
letter-spacing: -0.05em;
}

.project p{
  font-family: "Geist";
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 15cm;
  font-weight: 300;
}

.d-none {
  display: none;
}

p.date{
  display: none;
}